
<table style="
border:1px solid blue;">
<% for (let i of data) { %>
  <tr>
    <td style="
    border:1px solid blue;"><%= i.code %>
    <td style="
    border:1px solid blue;"><%= i.is_used %>
  </tr>
<% } %>
</table>
